:root {
  --dark-blue: #2b224e;
  --grey: #bdbdbd;
  --white: #fff;
  --black: #000;
  --border: #d9d9d9;
  --font: #7e7e7e;
  --teal: #2f707e;
  --peru: #aa7346;
  --blue: #286199;
  --light-teal: #daeef2;
  --light-peru: #ffe4cd;
  --light-blue: #d8e9fa;
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: normal;
  src: url('./assets/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.ttf');
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 600;
  src: url('./assets/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.ttf');
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: bold;
  src: url('./assets/fonts/plus-jakarta-sans/PlusJakartaSans-Bold.ttf');
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 900;
  src: url('./assets/fonts/plus-jakarta-sans/PlusJakartaSans-Bold.ttf');
}

/* UTILITY */

.text-white {
  color: var(--white);
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'PlusJakartaSans';
}

/* HEADER */
header {
  height: 58px;
  width: 100%;
  background-color: var(--grey);
}

/* MAIN CONTAINER */
.main-container {
  display: flex;
}

/* MAIN */
main {
  flex-grow: 1;
  background-color: var(--white);
  margin-top: 1rem;
}

.cards {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1024px) {
  .cards {
    flex-direction: column;
  }
}

.card {
  /* border: solid 1px var(--border); */
  border-radius: 12px;
  flex-basis: 33.33%;
}

.card-title {
  color: var(--white);
  text-align: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 16px;
}

.card .left {
  flex-basis: 50%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: solid 1px;
}

.card .right {
  flex-basis: 50%;
  border: solid 1px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.card .top {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  position: relative;
}

.card .left .top:after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 35px;
  border-radius: 100%;
  position: absolute;
  right: -2px;
}

.card .bottom {
  padding: 1rem;
  text-align: center;
  font-weight: 900;
}

.card .label {
  font-size: 12px;
  font-weight: 600;
}

.card .value {
  font-size: 20px;
  font-weight: 900;
}

.card.stats-1 .card-title {
  background: rgb(71, 168, 189);
  background: linear-gradient(90deg, rgba(71, 168, 189, 1) 0%, rgba(49, 144, 165, 1) 100%);
}

.card.stats-1 .top {
  background-color: var(--light-teal);
  color: var(--teal);
}

.card.stats-1 .bottom {
  color: var(--teal);
}

.card.stats-1 .left {
  border-color: var(--light-teal);
}

.card.stats-1 .right {
  border-color: var(--light-teal);
}

.card.stats-1 .left .top:after {
  background-color: var(--teal);
}

.card.stats-2 .card-title {
  background: rgb(255, 173, 105);
  background: linear-gradient(90deg, rgba(255, 173, 105, 1) 0%, rgba(215, 116, 34, 1) 100%);
}

.card.stats-2 .top {
  background-color: var(--light-peru);
  color: var(--peru);
}

.card.stats-2 .bottom {
  color: var(--peru);
}

.card.stats-2 .left {
  border-color: var(--light-peru);
}

.card.stats-2 .right {
  border-color: var(--light-peru);
}

.card.stats-2 .left .top:after {
  background-color: var(--peru);
}

.card.stats-3 .card-title {
  background: rgb(60, 145, 230);
  background: linear-gradient(90deg, rgba(60, 145, 230, 1) 0%, rgba(28, 112, 196, 1) 100%);
}

.card.stats-3 .top {
  background-color: var(--light-blue);
  color: var(--blue);
  justify-content: center;
}

.card.stats-3 .bottom {
  color: var(--blue);
}

.card.stats-3 .left {
  border-color: var(--light-blue);
}

.card.stats-3 .right {
  border-color: var(--light-blue);
}

.card.stats-3 .left .top:after {
  background-color: var(--blue);
}

.card.chart {
  border: solid 1px var(--border);
  padding: 0.5rem;
}

.card.chart .card-title {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.card.chart-4 {
  flex-basis: 50%;
}

.card.chart-5 {
  flex-basis: 50%;
}

/* FOOTER */
footer {
  text-align: center;
  color: var(--font);
  font-size: 12px;
  border-top: solid 1px var(--border);
}

/* ASIDE */
aside {
  background-color: var(--dark-blue);
  width: 182px;
  min-height: calc(100vh - 58px);
  transition: all 0.3s;
  overflow-x: hidden;
}

aside.close {
  width: 35px;
}

aside > div {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

aside .toggle-aside {
  cursor: pointer;
}

aside .toggle-aside .is-hide {
  display: none;
}

aside .toggle-aside.close .is-hide {
  margin-right: 1px;
  display: inline-block;
}

aside .toggle-aside.close .is-show {
  display: none;
}

aside .toggle-aside img {
  filter: brightness(0.8);
}

aside .toggle-aside img:hover {
  filter: none;
}

aside .main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside .main-menu > li > a {
  font-family: 'PlusJakartaSans';
  color: var(--grey);
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  box-sizing: border-box;
  transition: all 0.3s;

  width: 182px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

aside .main-menu a:hover,
aside .main-menu a.active {
  font-weight: bold;
  color: var(--white);
}

aside .main-menu a.active img:last-child {
  transform: rotate(180deg);
}

aside .main-menu a span {
  flex-grow: 1;
}

aside .main-menu a img {
  filter: brightness(0.8);
  transition: all 0.3s;
}

aside .main-menu a:hover img {
  filter: none;
}

aside .sub-menu {
  list-style-type: disc;
  color: var(--white);
  height: 0;
  overflow-y: hidden;
}

aside .main-menu a.active + .sub-menu {
  height: auto;
}

aside .sub-menu > li > a {
  font-family: 'PlusJakartaSans';
  color: var(--grey);
  text-decoration: none;
  font-size: 10px;
  font-weight: normal;
  box-sizing: border-box;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-left: 0;
}

aside .sub-menu.level-one {
  padding-left: 3rem;
}

aside .sub-menu.level-two {
  padding-left: 1rem;
}
